# Visual Studio solution
*.sln text

# Visual Studio project
*.csproj text

# CSharp
*.cs text
# Markdown
*.md text

# Visual Studio code analysis rule set
*.ruleset text

/LICENSE text
.editorconfig text
.gitattributes text
.gitignore text
